@import url(assets/fonts/fonts.css);

body {
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --color-bg: #f5f7fa;
  /*--color-bg-second: #17181e;*/
  --color-white: #fff;
  --large-fs: 20px;
  --default-fs: 18px;
  --small-fs: 14px;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}